.inicioSe{
  text-align: center;
  font-size: 3em;
}

.btn-facebook, .btn-twitter, .btn-google{
  width: 32%;
}

.btn-success{
  width: 100%;
}

.card{
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
}

.card-body{
  padding: 8% 0px 8% 0px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.enviar{
  margin-top: 8%;
}
.error{
    color: red;
}

.fondo{
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0, 0);
  color: #fff;
  font-size: 2rem;
}

#email-input, #password-input{
  font-size: 1.5rem;
}

.principal{
  width: 40%;
  transform: translateY(50%);
}

.fondoPrincipal{
  height:100vw;
  width: 100vw;
  margin-left:0px;
  background-image: url(/src/assets/img/login-fondo.jpg) !important;
  background-position: center center;
  background-size: cover;
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
